*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
@font-face {
    font-family: cripson;
    src: url(../fonts/CrimsonPro-Italic-VariableFont_wght.ttf);
  }
  @font-face {
    font-family:Merriweather;
    src: url(../fonts/Merriweather-LightItalic.ttf);
  }
  @font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Playfair;
    src: url(../fonts/Playfair-VariableFont_opsz,wdth,wght.ttf);
  }
#head{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    border-bottom:2px solid rgb(132, 135, 132);
}
#head-img{
  
    width: 30%;
    height: 100%;
}
#head-img img{
    height: 100%;width: 100%;
}
#head-body{
    padding-top: 2vh;
    padding-left: 5vh;
    padding-right: 2vh;
    width: 100%;
    height: auto;
}
#head-body h1{
   
    font-size: 4vh;
    margin-bottom: 2vh;
text-align: center;
}
#head-body h2{
    font-family: Playfair;
    font-size: 3vh;
    margin-bottom: 1vh;

}
#head-body p{
    font-family:Merriweather;
    letter-spacing: 1px;
    font-size: 1.7vh;
    margin-bottom: 2vh;
}
#head-body p strong{
    font-family: Playfair;

    font-size: 2vh;
    margin: 1vh;
}
#head-body ul li{
    font-family:Merriweather;
    font-size: 2vh;
    margin-bottom:0.5vh ;
    margin-left: 3vh;
}
#head-body ol li{
 
    font-size: 2vh;
    margin-bottom:1vh ;
    margin-left: 3vh;
   
}
#head-body ol li strong{
    font-family: Playfair;
 margin-right: 1vh;
    font-size: 2vh;
    margin-bottom:1vh ;
   
   
}
